<ion-header>
  <ion-toolbar>
    <ion-title>componenteFrase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background-color: aqua">
      <ion-col size="col-md-12" *ngFor="let pikto of arrayDeTodasLasPalabras">
        <ion-card expand="block">
          <ion-item class="center">
            <ion-img
              [src]="pikto['foto']"
              class="center"
              style="height: 13em; width: 13em"
            ></ion-img>
          </ion-item>
          <ion-card-content class="center">
            <ion-label class="center">{{pikto['nombre']}}</ion-label><br />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="center" style="background-color: aqua">
      <ion-item class="button" (click)="hablarPalabras()">
        <ion-icon class="icon" name="play-outline"></ion-icon>
      </ion-item>
      <ion-item class="button">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-item>
      <ion-item class="button">
        <ion-icon
          name="trash-bin-outline"
          (click)="borrarPalabras()"
        ></ion-icon>
      </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
