<ion-header>
  <ion-grid>
    <ion-row style="background-color: rgb(223, 223, 223)">
      <ion-col size="col-md-12" *ngFor="let pikto of _stts.arrayDePalabras">
        <ion-card expand="block">
            <ion-img
              [src]="pikto['foto']"
              class="center"
              style="height: 7em; width: 7em"
            ></ion-img>
          <ion-card-content class="center">
            <ion-label class="center">{{pikto['nombre']}}</ion-label><br/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="mbsc-btn-group-justified">
      <mbsc-button outline (click)="hablarPalabras()">
        <ion-icon name="play-outline" style="zoom: 2"></ion-icon>
      </mbsc-button>

      <mbsc-button outline (click)="borrarLaUltima()">
        <ion-icon name="close-circle-outline" style="zoom: 2"></ion-icon>
      </mbsc-button>

      <mbsc-button outline (click)="borrarPalabras()">
        <ion-icon name="trash-bin-outline" style="zoom: 2"></ion-icon>
      </mbsc-button>
    </div>
  </ion-grid>
</ion-header>
