<ion-header>
    <ion-toolbar>
        <ion-title>Register user</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" #nick required></ion-input>
    </ion-item>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" #password required></ion-input>
        </ion-item>
       
        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="onRegister(email,password,nick)" expand="block">Register</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p class="centrado">
                    <a routerLink="/login">¿Ya tienes una cuenta?</a>
                </p>
            </ion-col>
        </ion-row>
    </form>
</ion-content>