<ion-header>
  <ion-title>Admin user view</ion-title>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
        <ion-title>kategoriak</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <!-- List of Text Items-->
    <ion-list *ngFor="let item of erabiltzaileak">
        <ion-item>
            <ion-label>{{item.uid}}</ion-label>
            <ion-label>{{item.data.erabiltzaileIzena}}</ion-label>
        </ion-item>

    </ion-list>
    <!--
    <ul *ngIf="usuarioList | async; let posts">
        <li *ngFor="let post of posts">
            <span>{{post}}</span>
        </li>
    </ul>-->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
