<ion-header>
    <ion-toolbar>
        <ion-title>Crear Usuario</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='close()'>
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>

    <form [formGroup]="ionicForm" (ngSubmit)="onUserRegister(email,password,nick)" novalidate>
        <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nick" #nick required></ion-input>
        </ion-item>
        <span class="red error ion-padding" *ngIf="isSubmitted && errorControl.nick.errors?.required">
          Introduzca nombre.
        </span>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" #email required></ion-input>
        </ion-item>
        <span class="red error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Introduzca email.
        </span>
        <span class="red error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Por favor, introduzca un Email valido.
        </span>
        <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" #password required></ion-input>
        </ion-item>
        <span class="red error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Introduzca contraseña.
        </span>
        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block" color="tertiary">Register</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>