<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
    <ion-row>
        <ion-col id="logout">
            <ion-button type="submit" color="danger" [style]="userUid == null ? 'display:none' : 'display:block'" (click)="onSignOut()" expand="block">Signout</ion-button>
        </ion-col>
        <ion-col id="login">
            <ion-button type="submit" color="primary" [style]="userUid == null ? 'display:block' : 'display:none'" routerLink="/login" expand="block">Login</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>