<ion-header>
    <ion-toolbar>
        <ion-title>Crear categorías nuevas</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='close()'>
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <form>
        <ion-item lines="full">
            <ion-label position="floating">Nombre de la categoria</ion-label>
            <ion-input type="text" #izenaKategoria required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="onKategoriaSortu(izenaKategoria)" expand="block" color="tertiary">Register</ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>