<ion-header>
    <ion-toolbar>
        <ion-icon slot="end" name="ellipsis-vertical" size="large" (click)="presentPopover($event)"></ion-icon>
        <ion-title>{{nombre}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-componente-frase>
    </app-componente-frase>
    <ion-grid>
        <ion-row class="center">
            <ion-col size-xs="12" size-sm="6" size-md="3" size-lg="2" *ngFor="let item of piktoName">
                <ion-card (click)="hablar(item.data['piktogramaIzena'])" (click)="anadirPalabra(item.data['piktogramaIzena'],item.data['piktogramaHelbidea'])">
                    <ion-item class="center">
                        <ion-img [src]="item.data['piktogramaHelbidea']" class="center" style="height: 13em;width: 13em; margin:0 auto;"></ion-img>
                    </ion-item>
                    <ion-card-content class="ion-text-center">
                        <ion-label>{{item.data["piktogramaIzena"]}}</ion-label><br>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="tertiary">
            <ion-icon name="settings"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start">
            <ion-fab-button color="light" (click)="hablar('No')">
                <ion-icon name="close-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" (click)="hablar('Sí')">
                <ion-icon name="checkmark-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" (click)="hablar('Gracias')">
                <ion-icon name="thumbs-up-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="end">
            <ion-fab-button color="light" (click)="hablar('Por favor')">
                <ion-icon name="happy-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" (click)="hablar('Quiero')">
                <ion-icon name="heart-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light" (click)="hablar('No quiero')">
                <ion-icon name="heart-dislike-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>