<ion-content>
    <!-- <div class="mbsc-grid">
    <div class="mbsc-row mbsc-justify-content-center">
      <div class="mbsc-col-sm-9 mbsc-col-md-7"> -->

    <ion-list>
        <ion-list-header>Menú</ion-list-header>
        <ion-item button>
            <ion-icon slot="end" name="document-text-outline" size="large"></ion-icon>Guía
        </ion-item>
        <ion-item button (click)="salir()">
            <ion-icon slot="end" name="log-out-outline" size="large"></ion-icon>Log-out
        </ion-item>
        <ion-item lines="none" detail="false" button (click)="close()">
            <ion-icon slot="end" name="close-outline" size="large"></ion-icon>Cerrar Menú
        </ion-item>
    </ion-list>
    <!-- </div>
    </div>
  </div> -->

</ion-content>