<ion-header>
    <ion-toolbar>
        <ion-title>piktogramakIkusi</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <!-- List of Text Items-->
            <ion-list *ngFor="let item of piktogramak">
                <ion-col size="4">
                    <ion-item>
                        <ion-card>
                            <ion-label>{{item.uid}}</ion-label>
                            <ion-label>{{item.data.piktogramaIzena}}</ion-label>
                            <ion-card-content>
                                <img style="max-width: 200px;" [src]="item.data.piktogramaHelbidea" />
                                <a [href]="item.data.piktogramaHelbidea" target="_blank" rel="noopener">Download</a>
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-col>
            </ion-list>

        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                ion-col [size="6"]
            </ion-col>
            <ion-col size="6">
                ion-col [size="6"]
            </ion-col>
            <ion-col size="6">
                ion-col [size="6"]
            </ion-col>
            <ion-col size="6">
                ion-col [size="6"]
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                ion-col [size="3"]
            </ion-col>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col size="3">
                ion-col [size="3"]
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                ion-col [size="3"]
            </ion-col>
            <ion-col size="3" offset="3">
                ion-col [size="3"] [offset="3"]
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                ion-col
            </ion-col>
            <ion-col>
                ion-col
                <br>#
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
                <br>#
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-align-self-start">
                ion-col [start]
            </ion-col>
            <ion-col class="ion-align-self-center">
                ion-col [center]
            </ion-col>
            <ion-col class="ion-align-self-end">
                ion-col [end]
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-start">
            <ion-col>
                [start] ion-col
            </ion-col>
            <ion-col>
                [start] ion-col
            </ion-col>
            <ion-col class="ion-align-self-end">
                [start] ion-col [end]
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col>
                [center] ion-col
            </ion-col>
            <ion-col>
                [center] ion-col
            </ion-col>
            <ion-col>
                [center] ion-col
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-end">
            <ion-col>
                [end] ion-col
            </ion-col>
            <ion-col class="ion-align-self-start">
                [end] ion-col [start]
            </ion-col>
            <ion-col>
                [end] ion-col
            </ion-col>
            <ion-col>
                ion-col
                <br>#
                <br>#
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" size-sm>
                ion-col [size="12"] [size-sm]
            </ion-col>
            <ion-col size="12" size-sm>
                ion-col [size="12"] [size-sm]
            </ion-col>
            <ion-col size="12" size-sm>
                ion-col [size="12"] [size-sm]
            </ion-col>
            <ion-col size="12" size-sm>
                ion-col [size="12"] [size-sm]
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" size-md>
                ion-col [size="12"] [size-md]
            </ion-col>
            <ion-col size="12" size-md>
                ion-col [size="12"] [size-md]
            </ion-col>
            <ion-col size="12" size-md>
                ion-col [size="12"] [size-md]
            </ion-col>
            <ion-col size="12" size-md>
                ion-col [size="12"] [size-md]
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" size-lg offset="3">
                ion-col [size="6"] [size-lg] [offset="3"]
            </ion-col>
            <ion-col size="3" size-lg>
                ion-col [size="3"] [size-lg]
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="start" horizontal="start" edge slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

    </ion-fab>
</ion-content>